html {
  /*font-size: 10px;*/
  font-family: Courier New, Georgia;
}
body {
  background-color: #7EB5A6;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #E8D0B3;
  border-width: 5px;
  width: 95%;
}
img {
  height: 250px;
}
h1 {
  font-family: Helvetica, Courier;
  /* font-size: 5em; */
  color: #86340A;
}
h2 {
  /* font-size: 4em; */
}
h3 {
  color: #86340ACF;
  /* font-size: 3em; */
}
/* Here is an example of how to override a "global" selector (in this case for h3) by using a class-specific selector, targeting a specific class attribute in the HTML */
.skillsHeading {
  color: yellow;
  font-size: 30px;
}
/* Here is an example showing that one element can be a part of multiple classes, separated by a space */
.multiCLassExample {
  border-radius: 20px;
}
/* Here is an example of how to perform the same kind of override using an id instead of a class */
#workExperienceHeading {
  color: teal;
  font-size: 15px;
}
p {
  /* font-size: 2em; */
}
/* Here is an example of how to use a CSS psuedo-class. This one is making it so that all "td" elements, when "hover"ed over, will change color */
td:hover {
  color: pink;
}
